{% extends "talks/base.html" %}

{% block card_title %}Talks{% endblock %}
{% block card_summary %}Sometimes, I speak at conferences about things.{% endblock %}
{% block card_image %}{{ BASE_URL }}/static/img/talks.png{% endblock %}

{% block contents %}
<article>
    <figure><img src="/static/img/talks.png" alt=""></figure>
{% filter markdown %}
Sometimes, I speak at conferences, mostly about code & methodology in French most of the time.
{% endfilter %}
</article>
<h2>Latest talks</h2>
{% include "_list.html" %}
{% if years|length %}
    <p>
        Browse the archives
        {% for year in years  %}
            | <a href="{{ url_for("section_archives_year", section="talks", year=year) }}">{{ year }}</a>
        {% endfor %}
    </p>
{% endif %}
{% endblock contents %}
