{% extends "photography/base.html" %}

{% block contents %}
<h2>Photography | {{ year }}</h2>

<p>Photos taken during year {{ year }}.</p>

{% include "photography/gallery.html" %}

<hr>

{% if years|length %}
    <p>
        &laquo; Back to <a href="{{ url_for("section", section="photography") }}">Photography</a>
        | Browse the archives
        {%- with current_year = year -%}
            {%- for year in years -%}
            {%- if current_year == year %}
                | <strong>{{ year }}</strong>
            {%- else %}
                | <a href="{{ url_for("section_archives_year", section="photography", year=year) }}">{{ year }}</a>
            {%- endif -%}
        {%- endfor -%}
        {%- endwith -%}
    </p>
{% endif %}
{% endblock contents %}