{% extends "code/base.html" %}

{% block contents %}
<h2>Code | {{ year }}</h2>

<p>All posts published during {{ year}}.</p>

{% include "_list.html" %}

{% if years|length %}
    <p>
        &laquo; Back to <a href="{{ url_for("section", section="code") }}">Code</a>
        | Browse the archives
        {%- with current_year = year -%}
            {%- for year in years -%}
            {%- if current_year == year %}
                | <strong>{{ year }}</strong>
            {%- else %}
                | <a href="{{ url_for("section_archives_year", section="code", year=year) }}">{{ year }}</a>
            {%- endif -%}
        {%- endfor -%}
        {%- endwith -%}
    </p>
{% endif %}

{% endblock contents %}