{% extends "code/base.html" %}

{% block card_title %}Code and computers{% endblock %}
{% block card_summary %}Where I talk about these.{% endblock %}
{% block card_image %}{{ BASE_URL }}/static/img/code.png{% endblock %}

{% block contents %}
<article>
    <figure><img src="/static/img/code.png" alt=""></figure>
</article>
    <h2>Latest entries</h2>

    <div itemscope itemtype="http://schema.org/Blog">
        {% include "_list.html" %}
    </div>
{% if years|length %}
    <p>
        Browse the archives
        {% for year in years  %}
            | <a href="{{ url_for("section_archives_year", section="code", year=year) }}">{{ year }}</a>
        {% endfor %}
    </p>
{% endif %}
{% endblock contents %}
