{%- assign final_page_image = site.title_image -%}
{%- if page.image -%}
  {%- assign final_page_image = page.image -%}
{%- elsif page.category -%}
  {%- capture final_page_image -%}/static/img/{{ page.category }}.png{%- endcapture -%}
{%- endif -%}
{%- assign first_img_char = final_page_image | slice: 0 -%}
{%- if first_img_char == '/' -%}
  {%- assign final_page_image = final_page_image | prepend: site.url -%}
{%- endif -%}

{%- capture final_page_title -%}{{ page.title }} - {{ site.title }}{%- endcapture -%}

{%- capture final_page_description -%}{{ page.excerpt | strip_html | strip | default: site.description }}{%- endcapture -%}

{%- capture final_page_url -%}{{ site.url }}{{ page.url  }}{%- endcapture -%}

<link rel="stylesheet" href="/assets/css/syntax/syntax-{{ site.syntax_theme | default: 'monokai' }}.css">
<link href="/humans.txt" rel="author" type="text/plain" />
<meta itemprop="image" content="{{ final_page_image }}">
<meta name="theme-color" content="#333333">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">

<!-- Twitter cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@n1k0">
<meta name="twitter:creator" content="@n1k0">
<meta name="twitter:title" content="{{ final_page_title }}">
<meta name="twitter:description" content="{{ final_page_description }}">
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ final_page_image }}">
<!-- end of Twitter cards -->

<!-- Open Graph -->
{% if page.path contains '_posts' or page.layout == "post" -%}
<meta property="og:type" content="article">
<meta property="og:article:published_time" content="{{ page.date }}">
<meta property="og:article:section" content="{{ page.category }}">
{% for tag in page.tags -%}
<meta property="og:article:tag" content="{{ tag }}">
{%- endfor %}
{%- else -%}
<meta property="og:type" content="website">
{%- endif %}
<meta property="og:title" content="{{ final_page_title }}">
<meta property="og:description" content="{{ final_page_description }}">
<meta property="og:locale" content="{{ page.lang | default: "en" }}" />
<meta property="og:url" content="{{ final_page_url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:image" content="{{ final_page_image }}">
<meta property="og:author" content="{{ site.author.name }}">
<!-- end of Open Graph -->

<!-- Page custom js & css -->
{% if page.css -%}
  {%- for stylesheet in page.css -%}
  <link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
  {%- endfor -%}
{%- endif %}
{% if page.js -%}
  {%- for js_file in page.js -%}
  <script src="{{ js_file }}" type="text/javascript"></script>
  {%- endfor -%}
{%- endif %}
<!-- end of Page custom js & css -->

<!-- Tobii gallery -->
<script>
if ("Tobii" in window) {
  window.addEventListener("DOMContentLoaded", function() {
    const imgs = document.querySelectorAll(".add-to-gallery");
    for (const img of imgs) {
      img.replaceWith(document.createRange().createContextualFragment(`
        <a href="${img.src}" class="lightbox">${img.outerHTML}</a>
      `))
    }
    const tobii = new Tobii();
  });
}
</script>
<!-- end of Tobii gallery -->
