body {
  min-width: 360px;
  font-family: "Sorts+Mill+Goudy", Palatino, Georgia, serif;
  font-size: 18px;
  line-height: 24px;
  color: #222;
}
code, pre {
  font-family: Consolas, Monaco, "Courier New", monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", Monaco, "Courier New", monospace;
  font-weight: bold;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000;
}
p {
  line-height: 24px;
  margin: 24px 0;
}
.active {
  color: #333333;
  text-decoration: none;
}
.arrow-suffixed:after {
  content: "\00A0\00BB";
}
.main-title {
  margin-top: 48px;
  padding-bottom: 12px;
}
.main-title h1 {
  font-size: 48px;
  line-height: 12px;
}
.main-title h1 a {
  text-decoration: none;
}
.main-title small {
  display: block;
  font-size: 24px;
  color: #aaaaaa;
}
.contents {
  min-height: 300px;
  margin-bottom: 1em;
}
.contents h1 {
  font-size: 36px;
}
.contents article header h2 a {
  text-decoration: none;
}
.sidebar {
  position: fixed;
  width: 200px;
}
.sidebar ul {
  list-style-type: none;
}
.sidebar ul li {
  font-size: 24px;
  line-height: 35.5px;
  text-align: right;
}
.sidebar ul li a {
  color: #aaaaaa;
  font-weight: bold;
  text-decoration: none;
}
.sidebar ul li a:focus, .sidebar ul li a:hover {
  color: #333333;
  text-decoration: none;
}
.site-footer {
  clear: both;
  text-align: center;
  font-size: 14.399999999999999px;
}
.activeSection {
  color: #333333;
  text-decoration: none;
}
body.code .sidebar li.code a {
  color: #333333;
  text-decoration: none;
}
body.carnet .sidebar li.carnet a {
  color: #333333;
  text-decoration: none;
}
body.contact .sidebar li.contact a {
  color: #333333;
  text-decoration: none;
}
body.home .sidebar li.home a {
  color: #333333;
  text-decoration: none;
}
body.photography .sidebar li.photography a {
  color: #333333;
  text-decoration: none;
}
@media (max-width: 480px) {
  .sidebar {
    text-align: center;
  }
  .sidebar li {
    display: inline;
    padding-right: 16px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 98%;
  }
  .main-title h2 {
    font-size: 20px;
  }
  .sidebar {
    text-align: center;
  }
  .sidebar li {
    display: inline;
    padding-right: 16px;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .container {
    width: 100%;
  }
  .main-title h2 {
    font-size: 20px;
  }
  .sidebar {
    width: 150px;
  }
  .sidebar ul {
    padding: 0;
  }
}
@media (max-width: 960px) {
  
}
@media (min-width: 960px) and (max-width: 1200px) {
  
}
@media (min-width: 1200px) {
  
}
