{% extends "carnet/base.html" %}

{% block card_title %}Carnet{% endblock %}
{% block card_summary %}Attention je rouspète en français.{% endblock %}
{% block card_image %}{{ BASE_URL }}/static/img/carnet.png{% endblock %}

{% block contents %}
<article>
    <figure><img src="/static/img/carnet.png" alt=""></figure>
    <p>
        M'adressant la plupart du temps à
        un auditoire francophone pour tout ce qui n'a pas trait au code ou à la
        technicité de mon métier, j'ai choisi de tenir ce carnet en français.
        <em>Mind you.</em>
    </p>
</article>
<h2>Derniers billets</h2>
{% include "_list.html" %}
{% if years|length %}
    <p>
        Parcourir les archives
        {% for year in years  %}
            | <a href="{{ url_for("section_archives_year", section="carnet", year=year) }}">{{ year }}</a>
        {% endfor %}
    </p>
{% endif %}
{% endblock contents %}
