<ul class="item-list" itemprop="blogPosts">
{%- for page in pages %}
    <li{% if not page.published %} class="unpublished"{% endif %}>
        <h3>
            <a itemprop="url" href="{{ url_for("page", path=page.path) }}"><span itemprop="name">{{ page.title }}</span></a>
            | <time datetime="{{ page.date }}">{{ page.date }}</time>
        </h3>
        <p><q itemprop="description"><em>
            {%- if page.meta.summary and page.meta.summary|striptags|trim %}
                {{- page.summary|trim }}
            {%- elif page.html|striptags|trim -%}
                {{- page.html|striptags|trim|truncate(135) }}
            {%- endif -%}
        </em></q></p>
        <hr>
    </li>
{%- else %}
    <li>No page (yet?)</li>
{%- endfor %}
</ul>