<!doctype html>
<html class="no-js" lang="{% block lang %}en{% endblock lang %}">
<head>
    <meta charset="utf-8">
    {% block extra_head %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block page_title %}Home{% endblock page_title %} | Nicolas Perriault</title>
    <meta name="description" content="{% block page_summary %}Nicolas Perriault's homepage.{% endblock page_summary %}">
    <meta name="viewport" content="width=device-width">
    <link href="//fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
{%- assets filter="cssmin", output="packed.css",
    "css/style.css",
    "js/libs/prettify/sons-of-obsidians.css"
%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{%- endassets %}
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("feed_section", section="code") }}" title="Code (RSS)">
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("feed_section", section="photography") }}" title="Photography (RSS)">
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("feed_section", section="talks") }}" title="Talks (RSS)">
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("feed_section", section="carnet") }}" title="Carnet (RSS)">
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("feed") }}" title="Everything (RSS)">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@n1k0">
    <meta name="twitter:creator" content="@n1k0">
    <meta name="twitter:title" content="{% block card_title %}{% endblock card_title %}">
    <meta name="twitter:description" content="{% block card_summary %}{% endblock card_summary %}">
    <meta name="twitter:image" content="{% block card_image %}{% endblock card_image %}">
</head>
<body class="{% block section %}home{% endblock %} {% block body_class %}{% endblock body_class %}" onload="prettyPrint()">
    <!--[if lt IE 7]>
    <p class="chromeframe">Your browser is <em>ancient!</em> Please <a href="http://www.quirksmode.org/upgrade.html">upgrade</a>.</p>
    <![endif]-->
    <div class="container">
        <header class="main-title">
            <h1><a href="{{ url_for("index") }}">Hi, I'm <strong>Nicolas.</strong></a></h1>
            <small>I code stuff. I take photos. I write rants.</small>
        </header>
        <main class="contents" role="main">
            {% block contents %}
            <p>These are the default contents.</p>
            {% endblock contents %}
        </main>
        <nav class="sidebar">
            <ul>
                <li class="home"><a href="{{ url_for("index") }}" hreflang="en">Home</a></li>
                <li class="code"><a href="{{ url_for("section", section="code") }}" hreflang="en">Code</a></li>
                <li class="photography"><a href="{{ url_for("section", section="photography") }}" hreflang="en">Photography</a></li>
                <li class="talks"><a href="{{ url_for("section", section="talks") }}" hreflang="en">Talks</a></li>
                <li class="carnet"><a href="{{ url_for("section", section="carnet") }}" hreflang="fr">Carnet <span>fr</span></a></li>
                <li class="contact"><a href="{{ url_for("contact") }}" hreflang="en">Contact</a></li>
            </ul>
        </nav>
        <footer class="site-footer">
            <p>
                &copy; 2017 Nicolas Perriault
                — <a href="https://twitter.com/n1k0">@n1k0</a>
                — <a href="https://github.com/n1k0">code</a>
                — <a href="http://500px.com/n1k0">photos</a>
                — <a href="https://saythanks.io/to/n1k0">say thanks</a>
                — <a href="{{ url_for("contact") }}">contact</a>
            </p>
        </footer>
    </div>
    <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="/static/js/libs/prettify/prettify.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
