{% extends "base.html" %}

{% block page_title %}contact{% endblock %}
{% block section %}contact{% endblock %}

{% block contents %}
<h2>Contact</h2>
<p>
    Your best bet for interacting with me is probably to send me an email:
</p>
<ul class="disc">
    <li>For professional enquiries, please use <a href="mailto:np@akei.com">np@akei.com</a></li>
    <li>For personal stuff, please use <a href="mailto:nicolas@perriault.net">nicolas@perriault.net</a></li>
    <li>For PHP stuff, please use <code>postmaster@localhost</code></li>
</ul>
<p>
    You can also <a href="https://twitter.com/n1k0">follow me on Twitter</a> or
    <a href="https://github.com/n1k0">on Github</a>.
</p>
{% endblock contents %}
