{% extends "base.html" %}

{% block contents %}
{% filter markdown %}
My name is **Nicolas Perriault**, I'm 35, I live in southern France [near
Montpellier](http://g.co/maps/z88bs) and am pretty much **enjoying my life**.

I'm mostly a <a href="{{ url_for("section", section="code") }}">Web developer</a>,
but as you may suppose, I'm *not* a Web designer. I also
<a href="{{ url_for("section", section="talks") }}">speak</a> at conferences,
sometimes.

I also practice <a href="{{ url_for("section", section="photography") }}">photography</a>,
and probably <a href="{{ url_for("section", section="carnet") }}" hreflang="fr">rant
(in French)</a> a bit too much.

{% endfilter %}

<section class="code">
    <h2>Code</h2>
    {% with pages = code_posts %}
        {% include "_list.html" %}
    {% endwith %}
    <p class="more">&raquo; <a href="{{ url_for("section", section="code") }}">See more Code stuff</a></p>
</section>
<section class="photography">
    <h2>Photography</h2>
    {% with pages = photos %}
        {% include "photography/gallery.html" %}
    {% endwith %}
    <p class="more">&raquo; <a href="{{ url_for("section", section="photography") }}">See more Photography stuff</a></p>
</section>
<section class="carnet" lang="fr">
    <h2>Carnet <small>(en français)</small></h2>
    {% with pages = posts %}
        {% include "_list.html" %}
    {% endwith %}
    <p class="more">&raquo; <a href="{{ url_for("section", section="carnet") }}" hreflang="fr">Accéder au carnet</a></p>
</section>
<section class="talks">
    <h2>Talks</h2>
    {% with pages = talks %}
        {% include "_list.html" %}
    {% endwith %}
    <p class="more">&raquo; <a href="{{ url_for("section", section="talks") }}">See more talks</a></p>
</section>
{% endblock contents %}
