{% extends "base.html" %}

{% block contents %}
{% filter markdown %}
My name is <strong>Nicolas Perriault</strong>, I'm 35, I live in southern France [near
Montpellier](http://g.co/maps/z88bs) and am pretty much <strong>enjoying my life</strong>.

I'm a <strong>Web developer</strong>, I made [coding](/code) a living. And as you may
suppose, I'm *not* a Web designer.

I also practice [photography](/photography), and probably
[rant (in French)](/carnet) a bit too much.

## Latest published stuff
{% endfilter %}

<div class="row">
    <section class="code">
        <h3 lang="en">Code</h3>
        {% with pages = code_posts %}
            {% include "_list.html" %}
        {% endwith %}
        <p>&raquo; <a href="{{ url_for("section", section="code") }}">See more Code stuff</a></p>
    </section>
    <hr>
    <section class="photography">
        <h3 lang="en">Photography</h3>
        {% with pages = photos %}
            {% include "_list.html" %}
        {% endwith %}
        <p>&raquo; <a href="{{ url_for("section", section="photography") }}">See more Photography stuff</a></p>
    </section>
    <hr>
    <section class="carnet">
        <h3 lang="fr">Carnet <small>(en français)</small></h3>
        {% with pages = posts %}
            {% include "_list.html" %}
        {% endwith %}
        <p>&raquo; <a href="{{ url_for("section", section="carnet") }}">Accéder au carnet</a></p>
    </section>
</div>
{% endblock contents %}
