{% extends "base.html" %}

{% block contents %}
{% filter markdown %}
## Welcome to my centralized piece of identity on the internets™

My name is <strong>Nicolas Perriault</strong>, I'm 35, I live in southern France [near
Montpellier](http://g.co/maps/z88bs). I have a son, a wife, three cats and am pretty much <strong>enjoying my
life</strong>.

I'm a <strong>Web developer</strong>, I made coding a living. And as you may
suppose, I'm not a Web designer.

I also practice <strong>photography</strong>, and rant probably a bit too much.

### Latest published stuff
{% endfilter %}

<div class="row">
    <div class="four columns alpha">
        <h4>Code</h4>
        {% with pages = code_posts %}
            {% include "_list.html" %}
        {% endwith %}
    </div>
    <div class="four columns">
        <h4>Photography</h4>
        {% with pages = photos %}
            {% include "_list.html" %}
        {% endwith %}
    </div>
    <div class="four columns omega">
        <h4>Thoughts</h4>
        {% with pages = thoughts %}
            {% include "_list.html" %}
        {% endwith %}
    </div>
</div>

{% endblock contents %}
