<article lang="{{ page.lang or "en" }}" class="{{ page.section }}" itemscope itemtype="http://schema.org/{{ item_type or "BlogPosting" }}">
    <link itemprop="url" href="{{ url_for("page", path=page.path) }}">
    <header>
        <h2><a itemprop="name" href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h2>
    {%- if page.subtitle -%}
        <h3>{{ page.subtitle }}</h3>
    {%- endif -%}
    </header>
    {% if not page.published %}
        <div style="background:orange;color:#fff;padding:5px 10px">⚠ This content is not published</div>
    {% endif %}
    <section>
        {%- if page.type == "photo" %}
        <ul class="controls">
            <li><a class="clearroom" href="" title="View on white">View on white</a></li>
            <li><a class="greyroom" href="" title="View on grey">View on grey</a></li>
            <li><a class="darkroom" href="" title="View on black">View on black</a></li>
        </ul>
        <figure class="photo">
        {%- if page.image_link %}
            <a href="{{ page.image_link }}" title="{{ page.title }}">
                <img src="/static/{{ page.path }}/main.jpg" alt="{{ page.title }} by Nicolas Perriault"/></a>
        {%- else %}
            <img src="/static/{{ page.path }}/main.jpg" alt="{{ page.title }} by Nicolas Perriault">
        {%- endif %}
        {%- if page.summary|trim %}
            <figcaption>{{ page.summary|trim }}</figcaption>
        {% endif %}
        </figure>
        {%- endif %}
        {{ page.html|safe }}
    </section>
    <aside>
        <p>
            <span class="article-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">Nicolas Perriault</span> —
            </span>
            <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date }}</time>
            {% if section %}— in <a href="{{ url_for("section", section=section) }}" itemprop="genre">{{ section|capitalize }}</a>{% endif %}
            — <a href="{{ url_for("page", path=page.path) }}">Permalink</a>
            — <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">License</a>.
        </p>
    </aside>
</article>