---
layout: default
---

{% assign currentYear = site.time | date: '%Y' %}
{% assign postYear = page.date | date: '%Y' %}
{% assign postAge = currentYear | minus: postYear | minus: 1 %}

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
  {% include post-meta.html post=page %}

  {% if postAge >= 3 %}
  <div class="maybe-obsolete">
    <img src="/static/img/warning.png">
    {% if page.lang == "fr" %}
      Ce billet a été rédigé il y a plus de {{ postAge }} ans, son contenu est
      probablement obsolète.
    {% else %}
      This post has been published more than {{ postAge }} years ago, and parts
      of its contents are very likely to be obsolete by now.
    {% endif %}
  </div>
  {% endif %}

  <div class="post-body">
    {{ content }}
    {% include post-tags.html post=page %}
  </div>

  {% if page.previous or page.next %}
  <section>
    <p class="post-prevnext">
    {% if page.previous %}
      <a class="prev-post" href="{{ page.previous.url | relative_url }}">&laquo;&nbsp;{{ page.previous.title }}</a>
    {% endif %}
    {% if page.next %}
      <a class="next-post" href="{{ page.next.url | relative_url }}">{{ page.next.title }}&nbsp;&raquo;</a>
    {% endif %}
    </p>
  </section>
  {% endif %}

  {% include comments.html %}
  {% include related_posts.html %}
</div>
